
.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

*{
  padding: 0px;
  margin: 0px;
}
:root{
  --cor_princ0: #ffffff;
  --cor_princ1: rgb(124, 124, 124);
  --cor_princ2: rgb(4, 0, 255);
  --cor_princ3: rgb(92, 63, 255);
}
body{
  background-color: var(--cor_princ0);
  padding: 10px;
  margin: 10px;
}

h1{
  color: var(--cor_princ0);
  padding: 5px;
  margin: 5px;
  text-align: end;
  font-family:"Kanit", sans-serif; 
}

.A1{
  position: absolute;
  height: 400px ;
  width: 1200px ;
  top: 85px;
  left: 10px;
  margin: 1%;
  padding: 1%;
  background-color: var(--cor_princ2);
  border-radius: 10px;
}

p{
  color: var(--cor_princ0);
  margin: 2px ;
  padding: 2px ;
  font-size: 25px;
}

.A2{
  position: absolute;
  height: 240px ;
  width: 1200px ;
  top: 530px;
  left: 10px;
  margin: 1%;
  padding: 1%;
  background-color: var(--cor_princ2);
  border-radius: 10px;
  text-align: center;
}

:hover.A1{
  background-color: var(--cor_princ3);
}

:hover.A2{
  background-color: var(--cor_princ3);
}
  
footer{
  position: absolute;
  height: 50px;
  width: 100%;
  top: 850px;
  left:0px;
  background-color: skyblue;

}

