
.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

*{
  padding: 0px;
  margin: 0px;
}
:root{
  --cor_princ0: #ffffff;
  --cor_princ1: rgb(124, 124, 124);
  --cor_princ2: rgb(4, 0, 255);
  --cor_princ3: rgb(92, 63, 255);
}
body{
  background-color: var(--cor_princ3);
  padding: 10px;
  margin: 10px;
}

h1{
  color: var(--cor_princ0);
  padding: 5px;
  margin: 5px;
  text-align: end;
  font-family:"Kanit", sans-serif; 
}